<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBOeadsYIpVl2WyrUROkguhqO68o1q_VS4</string>
	<key>GCM_SENDER_ID</key>
	<string>752838498547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wallpaperapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>wallpapers-app1</string>
	<key>STORAGE_BUCKET</key>
	<string>wallpapers-app1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:752838498547:ios:fe7cade827aeb3ce1dbf86</string>
</dict>
</plist>